.plus_btn_container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 2;
  transition: all 0.1s linear;
}

.plus_btn_container:hover {
  filter: brightness(80%);
}
.plus_btn_container:active {
  transform: scale(1.3);
}

@media (min-width: 600px) {
  .plus_btn_container {
    display: none;
  }
}
