.res_menu {
  display: none;
}

.res_menu_link {
  width: 25%;
  text-align: center;
  padding: 8px;
  border: 1px solid var(--stroke);
  border-radius: 4px;
}

.selected {
  background-color: var(--primary);
}
.unselected {
  background-color: var(--main-bg-color);
}

@media (min-width: 0px) and (max-width: 600px) {
  .res_menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    z-index: 2;
    padding: 0 4px;
  }
}
